name: Commit Stage
on: push

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.3.0
      - name: Setup JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: temurin
          java-version: 25
          cache: gradle
      - name: Code vulnerability scan
        uses: anchore/scan-action@v3.6.4
        id: scan
        with:
          path: "${{ github.workspace }}"
          fail-build: false
          severity-cutoff: high
      - name: Build, unit tests and integration tests
        run: |
          chmod +x gradlew
          ./gradlew build
